services:
  # The Flask Backend Service
  backend:
    build:
      context: ./backend  # Path to the backend's Dockerfile and code
    container_name: flask-backend
    environment:
      - FACE_API_URL=http://face-recognition:8000
      - DB_PATH=/app/data/bank.db
    ports:
      - "5000:5000"  # Map host port 5000 to container port 5000
    volumes:
      - backend-data:/app/data  # Persist SQLite database file

  face-recognition:
    build:
      context: ./face_recognition
    container_name: face-recognition-service
    ports:
      - "8000:8000"
    volumes:
      - deepface-weights:/root/.deepface/weights
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu ]
    #healthcheck:
    #  test: [ "CMD", "curl", "-f", "http://localhost:5000/health" ]
    #  interval: 30s
    #  timeout: 10s
    #  retries: 3

  # The Vue.js Frontend Service
  frontend:
    build:
      context: ./frontend # Path to the frontend's Dockerfile and code
    container_name: vue-frontend
    ports:
      - "8080:80"  # Map host port 8080 to Nginx's port 80
    depends_on:
      - backend    # Ensures the backend service starts before the frontend

# Define the network (optional, but good practice)
# This ensures both containers are on the same network.
networks:
  default:
    driver: bridge
volumes:
  deepface-weights:
  backend-data:
